:root {
    --first-color: #000000;
    --display-mode: flex;
    --absolute-zero: 0;
    --margin-auto: auto;
    --container-link-width: 30%;
    --container-link-justify-content: space-between;
    --carrousel-height: 400px;
    --carrousel-width: 762px;
    --carrousel-overflow: hidden;
    --carrousel-overflow-x: auto;
    --carrousel-scroll-behavior: smooth;
    --carrousel-flex-direction: row;
    --carrousel-padding-top: 15%;
    --scroll-snap-type-parent: x mandatory;
    --scroll-snap-align-div: start;
    --carrousel-img-h: 400px;
    --carrousel-img-w: 800px;
    --a-text-decoration: none;
}
* {
    margin: var(--absolute-zero);
    padding: var(--absolute-zero);
}
.carrousel {
    height: var(--carrousel-height);
    width: var(--carrousel-width);
    overflow: var(--carrousel-overflow);
    overflow-x: var(--carrousel-overflow-x);
    display: var(--display-mode);
    scroll-behavior: var(--carrousel-scroll-behavior);
    flex-direction: var(--carrousel-flex-direction);
    padding-top: var(--carrousel-padding-top);
    margin: var(--margin-auto);
    scroll-snap-type: var(--scroll-snap-type-parent);
    & > div {
        scroll-snap-align: var(--scroll-snap-align-div);
    }
    & div img {
        height: var(--carrousel-img-h);
        width: var(--carrousel-img-w);
    }
}
.container-link {
    width: var(--container-link-width);
    margin: var(--margin-auto);
    display: var(--display-mode);
    justify-content: var(--container-link-justify-content);
    & a {
        text-decoration: var(--a-text-decoration);
        color: var(--first-color);
    }
}